.u-section-1 {
  background-position: 50% 50%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 837px;
  margin: 147px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 75px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 60px;
  height: 60px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 60px;
  height: 60px;
  margin: -60px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 72px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 60px;
  height: 60px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-4 {
  width: 60px;
  height: 60px;
  margin: -60px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 837px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 72px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 583px;
}

.u-section-2 .u-shape-1 {
  height: 401px;
  width: 625px;
  margin: 121px 86px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -461px 0 29px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 463px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 463px;
  background-position: 0% 0%;
}

.u-section-2 .u-image-1 {
  width: 535px;
  height: 384px;
  margin: 0 0 45px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-2 .u-shape-1 {
    height: 390px;
    width: 573px;
    margin-right: 71px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -450px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    z-index: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    z-index: 2;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 435px;
    height: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2 .u-shape-1 {
    height: 340px;
    width: 423px;
    margin-right: 54px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -400px;
    margin-bottom: 61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-2 .u-image-1 {
    width: 325px;
    height: 338px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-2 .u-shape-1 {
    height: 458px;
    width: 479px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -517px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 281px;
    z-index: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 370px;
    z-index: auto;
  }

  .u-section-2 .u-image-1 {
    width: 458px;
    height: 335px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-2 .u-shape-1 {
    height: 401px;
    width: 625px;
    margin-top: 241px;
    margin-right: 86px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -461px;
    margin-bottom: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 463px;
    background-position: 0% 0%;
  }

  .u-section-2 .u-image-1 {
    width: 535px;
    height: 384px;
    margin-bottom: 45px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 710px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 84px auto 84px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 375px;
  background-position: 0% 0%;
}

.u-section-3 .u-shape-1 {
  height: 300px;
  width: 509px;
  margin: 45px auto 0 46px;
}

.u-section-3 .u-image-1 {
  width: 512px;
  height: 298px;
  left: 0;
  top: 0;
  margin: -345px auto 35px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 197px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 197px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 375px;
}

.u-section-3 .u-shape-2 {
  height: 300px;
  width: 509px;
  margin: 45px auto 0 46px;
}

.u-section-3 .u-image-2 {
  width: 512px;
  height: 298px;
  left: 0;
  top: 0;
  margin: -345px auto 35px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 397px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-shape-1 {
    height: 260px;
    width: 359px;
    margin-top: 79px;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-3 .u-image-1 {
    width: 367px;
    height: 265px;
    margin-top: -299px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 32px;
    padding-right: 82px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 35px;
    padding-left: 49px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 370px;
  }

  .u-section-3 .u-shape-2 {
    height: 260px;
    width: 359px;
    margin-top: 79px;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-3 .u-image-2 {
    width: 367px;
    height: 265px;
    margin-top: -299px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-3 .u-shape-1 {
    height: 350px;
    width: 672px;
    margin-top: 58px;
  }

  .u-section-3 .u-image-1 {
    width: 677px;
    height: 339px;
    margin-top: -401px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -5px;
    margin-left: 33px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -5px;
    margin-left: 33px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -12px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-4 {
    margin-right: -12px;
    margin-left: 14px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 438px;
  }

  .u-section-3 .u-shape-2 {
    height: 350px;
    width: 672px;
    margin-top: 58px;
  }

  .u-section-3 .u-image-2 {
    width: 677px;
    height: 339px;
    margin-top: -401px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-3 .u-shape-1 {
    height: 305px;
    width: 492px;
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 496px;
    height: 299px;
    margin-top: -353px;
    margin-right: auto;
    margin-bottom: 54px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 193px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 195px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-3 .u-shape-2 {
    height: 305px;
    width: 492px;
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 496px;
    height: 299px;
    margin-top: -353px;
    margin-right: auto;
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 84px;
    margin-bottom: 84px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 375px;
    background-position: 0% 0%;
  }

  .u-section-3 .u-shape-1 {
    height: 300px;
    width: 509px;
    margin-top: 45px;
    margin-right: auto;
    margin-left: 46px;
  }

  .u-section-3 .u-image-1 {
    width: 512px;
    height: 298px;
    margin-top: -345px;
    margin-bottom: 35px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 375px;
  }

  .u-section-3 .u-shape-2 {
    height: 300px;
    width: 509px;
    margin-top: 45px;
    margin-right: auto;
    margin-left: 46px;
  }

  .u-section-3 .u-image-2 {
    width: 512px;
    height: 298px;
    margin-top: -345px;
    margin-bottom: 35px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 580px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  height: 390px;
  width: 518px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 518px;
  height: 389px;
  margin: -419px 0 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-4 .u-shape-1 {
    height: 306px;
    width: 411px;
  }

  .u-section-4 .u-image-1 {
    width: 411px;
    height: 305px;
    margin-top: -335px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 127px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-shape-1 {
    height: 182px;
    width: 294px;
  }

  .u-section-4 .u-image-1 {
    width: 294px;
    height: 175px;
    margin-top: -211px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -26px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    height: 289px;
    width: 470px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 288px;
    margin-top: -318px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 180px;
    margin-bottom: 180px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-shape-1 {
    height: 390px;
    width: 518px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 518px;
    height: 389px;
    margin-top: -419px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 320px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 200px;
  margin: 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 800px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 691px;
}

.u-section-6 .u-image-1 {
  height: 437px;
  width: 912px;
  margin: 60px auto 0;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 227px;
  margin: -92px auto 25px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px 48px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-6 .u-image-1 {
    height: 345px;
    width: 720px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -60px;
    margin-bottom: 35px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-6 .u-image-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    width: 480px;
    min-height: 221px;
    margin-top: -104px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-6 .u-image-1 {
    height: 437px;
    margin-top: 180px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 800px;
    min-height: 227px;
    margin-top: -92px;
    margin-bottom: 145px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 615px;
}

.u-section-7 .u-shape-1 {
  width: 517px;
  left: 0;
  right: auto;
  margin: 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1096px;
  margin: 76px auto 60px 44px;
}

.u-section-7 .u-image-1 {
  min-height: 496px;
  background-position: 50% 50%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/2a94947f-d174-446b-8bca-ecfa5de34e46.jpg");
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-7 .u-text-3 {
  margin: 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 249px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-text-5 {
  margin: 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 249px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-7 .u-text-7 {
  margin: 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-7 .u-shape-1 {
    width: 433px;
    margin: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 898px;
    margin: 38px 0 38px 42px;
  }

  .u-section-7 .u-image-1 {
    min-height: 504px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 260px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-7 .u-shape-1 {
    height: 326px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 627px;
    margin: -274px auto 6px 46px;
  }

  .u-section-7 .u-image-1 {
    min-height: 353px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 188px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-7 .u-shape-1 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 455px;
    margin-top: -243px;
    margin-bottom: 65px;
    margin-left: 42px;
  }

  .u-section-7 .u-image-1 {
    min-height: 323px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 176px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 164px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-7 .u-shape-1 {
    height: 615px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 1096px;
    margin-top: 76px;
    margin-bottom: 60px;
    margin-left: 44px;
  }

  .u-section-7 .u-image-1 {
    min-height: 496px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 249px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 249px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 583px;
}

.u-section-8 .u-shape-1 {
  height: 401px;
  width: 625px;
  margin: 121px 86px 0 auto;
}

.u-section-8 .u-layout-wrap-1 {
  margin: -461px 0 29px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 463px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 463px;
  background-position: 0% 0%;
}

.u-section-8 .u-image-1 {
  width: 535px;
  height: 384px;
  margin: 0 0 45px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-8 .u-shape-1 {
    height: 390px;
    width: 573px;
    margin-right: 71px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -450px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    z-index: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-1 {
    position: relative;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-2 {
    z-index: 2;
    background-position: 50% 50%;
  }

  .u-section-8 .u-image-1 {
    width: 435px;
    height: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-8 .u-shape-1 {
    height: 340px;
    width: 423px;
    margin-right: 54px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -400px;
    margin-bottom: 61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-8 .u-image-1 {
    width: 325px;
    height: 338px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-8 .u-shape-1 {
    height: 458px;
    width: 479px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -517px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 281px;
    z-index: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 370px;
    z-index: auto;
  }

  .u-section-8 .u-image-1 {
    width: 458px;
    height: 335px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-8 .u-shape-1 {
    height: 401px;
    width: 625px;
    margin-top: 241px;
    margin-right: 86px;
    margin-left: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -461px;
    margin-bottom: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 463px;
    background-position: 0% 0%;
  }

  .u-section-8 .u-image-1 {
    width: 535px;
    height: 384px;
    margin-bottom: 45px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 320px;
}

.u-section-9 .u-group-1 {
  width: 800px;
  min-height: 200px;
  margin: 60px auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 800px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 691px;
}

.u-section-10 .u-image-1 {
  height: 437px;
  width: 912px;
  margin: 60px auto 0;
}

.u-section-10 .u-group-1 {
  width: 800px;
  min-height: 227px;
  margin: -92px auto 25px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  margin: 20px 38px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    width: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-10 .u-image-1 {
    height: 345px;
    width: 720px;
  }

  .u-section-10 .u-group-1 {
    margin-top: -60px;
    margin-bottom: 35px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-10 .u-image-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-group-1 {
    width: 480px;
    min-height: 221px;
    margin-top: -104px;
    margin-bottom: 60px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-10 .u-image-1 {
    height: 437px;
    margin-top: 180px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-1 {
    width: 800px;
    min-height: 227px;
    margin-top: -92px;
    margin-bottom: 145px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 615px;
}

.u-section-11 .u-shape-1 {
  width: 517px;
  left: 0;
  right: auto;
  margin: 0;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1096px;
  margin: 76px auto 60px 44px;
}

.u-section-11 .u-image-1 {
  min-height: 496px;
  background-position: 50% 50%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ee5821fe-625e-4baa-853f-eda76b37e365.jpg");
}

.u-section-11 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-11 .u-text-3 {
  margin: 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-11 .u-layout-cell-3 {
  min-height: 249px;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-11 .u-text-5 {
  margin: 0;
}

.u-section-11 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-11 .u-layout-cell-4 {
  min-height: 249px;
}

.u-section-11 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-11 .u-text-7 {
  margin: 0;
}

.u-section-11 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-11 .u-shape-1 {
    width: 433px;
    margin: initial;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 898px;
    margin: 38px 0 38px 42px;
  }

  .u-section-11 .u-image-1 {
    min-height: 504px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 260px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-11 .u-shape-1 {
    height: 326px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 627px;
    margin: -274px auto 6px 46px;
  }

  .u-section-11 .u-image-1 {
    min-height: 353px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 188px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-11 .u-shape-1 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 455px;
    margin-top: -243px;
    margin-bottom: 65px;
    margin-left: 42px;
  }

  .u-section-11 .u-image-1 {
    min-height: 323px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 176px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 164px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-11 .u-shape-1 {
    height: 615px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 1096px;
    margin-top: 76px;
    margin-bottom: 60px;
    margin-left: 44px;
  }

  .u-section-11 .u-image-1 {
    min-height: 496px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 249px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 249px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 752px;
}

.u-section-12 .u-shape-1 {
  height: 410px;
  width: 652px;
  margin: 109px 260px 0 228px;
}

.u-section-12 .u-image-1 {
  width: 657px;
  height: 412px;
  margin: -459px 215px 0 0;
}

.u-section-12 .u-group-1 {
  min-height: 150px;
  width: 697px;
  margin: 70px 215px 60px 228px;
}

.u-section-12 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-12 .u-text-1 {
  margin: 0;
}

.u-section-12 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-12 .u-shape-1 {
    width: 601px;
    margin-right: 191px;
    margin-left: 148px;
  }

  .u-section-12 .u-image-1 {
    width: 608px;
    margin-right: 145px;
  }

  .u-section-12 .u-group-1 {
    min-height: 161px;
    width: 644px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-12 .u-shape-1 {
    width: 575px;
    margin-top: 112px;
    margin-right: 95px;
    margin-left: 50px;
  }

  .u-section-12 .u-image-1 {
    width: 581px;
    margin-top: -462px;
    margin-right: 49px;
  }

  .u-section-12 .u-group-1 {
    min-height: 150px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-shape-1 {
    width: 488px;
    margin-top: 109px;
    margin-right: 52px;
    margin-left: 0;
  }

  .u-section-12 .u-image-1 {
    width: 491px;
    margin-top: -459px;
    margin-right: 0;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-12 .u-shape-1 {
    width: 652px;
    margin-top: 229px;
    margin-right: 260px;
    margin-left: 228px;
  }

  .u-section-12 .u-image-1 {
    width: 657px;
    margin-right: 215px;
    margin-left: auto;
  }

  .u-section-12 .u-group-1 {
    margin-bottom: 180px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
}